.containerP{

    background-color: rgb(53, 64, 33);
    height: 800px;
  
}

#grafica{
   
    margin-top: 80px;
    height:450px;
    width:950px;
    background:rgb(255, 255, 255);
    margin-left: 80px;


}

#containerAmbos
{
    background-color:rgb(31, 31, 31);
    display: flex;
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
    width: 1800px;
    gap: 50px;
}


#seleccionCrypto{
    background-color: #82d85a;
    margin-top: 80px;
    padding: 15px;
    height: 450px;
    padding-top: 200px;
    list-style: none;
    font-family: monospace;
    font-size: 50px;
    color: black;
    text-align: center;
}

