.containerP{
    background-color: rgb(53, 64, 33);
    height: auto;
    width: auto;  
}

#grafica{
    background:rgb(255, 255, 255);
    width: 70%;
    margin: 5%;
}

#containerAmbos
{
    background-color:rgb(31, 31, 31);
    display: flex;
    width: 80%;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}


#seleccionCrypto{
    background-color: #82d85a;
    margin-top: 80px;
    padding: 15px;
    height: 450px;
    padding-top: 200px;
    list-style: none;
    font-family: monospace;
    font-size: 50px;
    color: black;
    text-align: center;
}

