#back{
    background-color: black;
    width: auto;
    height: auto;
    padding-bottom: 15%;
}

#box{
    background-color: darkolivegreen;
    padding: 3%;
    padding-bottom: 7%;
    margin-left: auto; 
    margin-right:  auto;
    width: 45%;
    height: 50%;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
    border-radius: 25px;

}

#word{
    display: flex;
    justify-content: center;
}

.btn{
    color: darkolivegreen;
    font-size: 25px;
    width: 50%;
    margin-left: auto; 
    margin-right:  auto;
}

#link{
    margin-left: auto; 
    margin-right:  auto;
}

#img{
    margin: 2%;
    width: 35%;
    margin-left: auto; 
    margin-right:  auto;
}