.BarraNavegacion 
{
    background-color: black;
    color: #83D95B;
    height: 120px;
}

.ListaBarra
{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 60px;
    gap: 55px;
    justify-content: center;
}