.BarraNavegacion 
{
    background-color: black;
    color: #83D95B;
    height: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: monospace;
    
}

a, a:hover, a:link, a:visited, a:focus, a:active{
    text-decoration: none;
    outline: none;
    color: #83D95B;
}

.ListaBarra
{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 50px;
    justify-content: space-around;
    font-weight: bold;
}