.containerN{

    background-color: darkolivegreen;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-evenly;   
}

.containerB
{
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 70px;
    margin-right: 70px;
    height: 850px;
    margin-bottom: 150px;
    gap: 30px;
}

.Blog
{
    background-color: #82d85a;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    height: 150px;
    width: 450px;
    list-style: none;
    font-family: monospace;
    font-size: 22px;
    text-align: center;
    padding: 50px;
}